@import "../../scss/config.scss";

.expense-date {
  @include flex(column, center, center, nowrap);
  background-color: $bg-primary;
  gap: 0.5rem;
  min-width: 8rem;
  height: 7rem;
  border: 1px solid black;
  border-radius: inherit;
  color: $font-secondary;
  font-size: 1.1rem;
}
