@import "../../scss/config.scss";

.expense-date {
  @include flex(column, center, center, nowrap);
  background-color: $bg-primary;
  gap: 0.5rem;
  min-width: 8rem;
  height: 7rem;
  color: $font-secondary;
  font-size: 1.1rem;

  border: inherit;
  border-right: none;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
