@import "../../scss/config.scss";

.new-expense {
  @include flex(row, center, center, nowrap);
  background-color: $bg-secondary;
  width: 70vw;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 1.2rem 0;

  button {
    all: unset;
    cursor: pointer;
    background-color: $bg-tertiary;
    text-align: center;
    font-size: 1.4rem;
    width: 7rem;
    padding: 0.8rem;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 6px black;
    transition: all 300ms;
  }

  button:hover {
    background-color: $font-secondary;
    box-shadow: 2px 4px 6px black;
  }
}
