@import "./config.scss";

* {
  box-sizing: border-box;
}

html {
  @media only screen and (max-width: 950px) {
    font-size: 13px;
  }

  @media only screen and (max-width: 650px) {
    font-size: 11px;
  }
}

body {
  color: $font-primary;
  background-color: $bg-primary;
  margin: 0;
  padding: 0;
}
